# Data Preprocessing - Neater Implementation

In [6]:
# Enable Intellisense
%config IPCompleter.greedy=True

import pandas as pd
import numpy as np
import io
import requests
import seaborn as sns
from matplotlib import pyplot, dates
import plotly.express as px 
import datetime
import plotly.graph_objects as go
import plotly.io as pio
sns.set()

# Annoying warning
pd.options.mode.chained_assignment = None  # default='warn'

In [7]:
# ['EC', 'FS', 'GP', 'KZN', 'LP', 'MP', 'NC', 'NW', 'WC']

## Gen Helper Functions

In [8]:
def df_from_url(df_url, pd_kwargs={}):
    df_req = requests.get(df_url).content
    df = pd.read_csv(io.StringIO(df_req.decode('utf-8')), **pd_kwargs)
    return df

In [9]:
tmp_kwargs = {"usecols":['date','total']}
df_from_url("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv", 
            tmp_kwargs).head()

         date  total
0  05-03-2020      1
1  07-03-2020      2
2  08-03-2020      3
3  09-03-2020      7
4  11-03-2020     13

# Cumulative/Daily Totals Per Day
Currently only applicable for confirmed cases and deaths.

In [28]:
def get_cum_daily(data_url, cum_col='total', index_col='date'): # kwargs={}):
#     data_req = requests.get(data_url).content
#     data = pd.read_csv(io.StringIO(data_req.decode('utf-8')), usecols=cols, index_col=['date'])
    cols = ['date', 'total']
    pd_kwargs = {"usecols":[cum_col, index_col],"index_col":[index_col]}
#     if usecols != []:
#         pd_kwargs.update({"usecols":usecols})
#     pd_kwargs.update(kwargs)
    data = df_from_url(data_url, pd_kwargs)
    data.rename({cum_col:"cum_no"}, axis=1, inplace = True)
    data.ffill(inplace=True)
    
    data['daily_no'] = data['cum_no']
    # slice is required as first entry of diff will be NaN but data we want should be equal to the 
    # starting value
    data['daily_no'][1:] = data['cum_no'].diff()[1:]
    # Cast columns to integer
    data = data.astype('int32')
    return data

### Confirmed Cases

In [25]:
confirmed_cases_url = "https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv"
get_cum_daily(confirmed_cases_url)

            cum_no  daily_no
date
05-03-2020       1         1
07-03-2020       2         1
08-03-2020       3         1
09-03-2020       7         4
11-03-2020      13         6
12-03-2020      16         3
13-03-2020      24         8
14-03-2020      38        14
15-03-2020      51        13
16-03-2020      62        11
17-03-2020      85        23
18-03-2020     116        31
19-03-2020     150        34
20-03-2020     202        52
21-03-2020     240        38
22-03-2020     274        34
23-03-2020     402       128
24-03-2020     554       152
25-03-2020     709       155
26-03-2020     927       218
27-03-2020    1170       243
28-03-2020    1187        17
29-03-2020    1280        93
30-03-2020    1326        46
31-03-2020    1353        27
01-04-2020    1380        27
02-04-2020    1462        82
03-04-2020    1505        43
04-04-2020    1585        80
05-04-2020    1655        70
06-04-2020    1686        31
07-04-2020    1749        63
08-04-2020    1845        96
09-04-2020    1934        89
10-04-2020    2003        69
11-04-2020    2028        25
12-04-2020    2173       145
13-04-2020    2272        99
14-04-2020    2415       143
15-04-2020    2506        91
16-04-2020    2605        99
17-04-2020    2783       178
18-04-2020    3034       251
19-04-2020    3158       124
20-04-2020    3300       142
21-04-2020    3465       165
22-04-2020    3635       170
23-04-2020    3953       318
24-04-2020    4220       267
25-04-2020    4361       141
26-04-2020    4546       185
27-04-2020    4793       247
28-04-2020    4996       203
29-04-2020    5350       354
30-04-2020    5647       297
01-05-2020    5951       304
02-05-2020    6336       385

### Deaths

In [26]:
deaths_url = "https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_deaths.csv"
get_cum_daily(deaths_url)

            cum_no  daily_no
date
27-03-2020       1         1
28-03-2020       2         1
30-03-2020       3         1
31-03-2020       5         2
03-04-2020       9         4
05-04-2020      11         2
06-04-2020      12         1
07-04-2020      13         1
08-04-2020      18         5
09-04-2020      18         0
10-04-2020      24         6
11-04-2020      25         1
12-04-2020      25         0
13-04-2020      27         2
14-04-2020      27         0
15-04-2020      34         7
16-04-2020      48        14
17-04-2020      50         2
18-04-2020      52         2
19-04-2020      54         2
20-04-2020      58         4
21-04-2020      58         0
22-04-2020      65         7
23-04-2020      75        10
24-04-2020      79         4
25-04-2020      86         7
26-04-2020      87         1
27-04-2020      90         3
28-04-2020      93         3
29-04-2020     103        10
30-04-2020     103         0

### Tests

In [29]:
tests_url = "https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_timeline_testing.csv"
get_cum_daily(tests_url, 'cumulative_tests', 'date')

            cum_no  daily_no
date
11-02-2020      61        61
13-02-2020      67         6
14-02-2020      71         4
19-02-2020      95        24
20-02-2020     106        11
...            ...       ...
28-04-2020  185497      7027
29-04-2020  197127     11630
30-04-2020  207530     10403
01-05-2020  217522      9992
02-05-2020  230686     13164

[64 rows x 2 columns]

### Recoveries

In [30]:
tests_url = "https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_timeline_testing.csv"
get_cum_daily(tests_url, 'recovered', 'date')

            cum_no  daily_no
date
11-02-2020       0         0
13-02-2020       0         0
14-02-2020       0         0
19-02-2020       0         0
20-02-2020       0         0
...            ...       ...
28-04-2020    2073       600
29-04-2020    2073         0
30-04-2020    2073         0
01-05-2020    2382       309
02-05-2020    2549       167

[64 rows x 2 columns]

# Daily/Cumulative Data Per Prov Per Day

In [48]:
def get_cum_daily_by_prov(data_url):
    cols = ['date','EC', 'FS', 'GP', 'KZN', 'LP', 'MP', 'NC', 'NW','WC', 'UNKNOWN']
    pd_kwargs = {"usecols":cols}
    cum_data = df_from_url(data_url, pd_kwargs)
    cum_data.dropna(inplace=True)
    cum_data['date'] = pd.to_datetime(cum_data['date'], format='%d-%m-%Y')
    
    daily_data = cum_data.copy()
    
    
    cum_data_melt = cum_data.melt(id_vars=['date'], var_name='province', value_name='cum_cases')
    cum_data_melt.set_index(['date'], inplace=True)
    
    data = cum_data_melt
    return data

In [49]:
get_cum_daily_by_prov("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/" +
                      "covid19za_provincial_cumulative_timeline_confirmed.csv")

           province  cum_cases
date
2020-03-05       EC        0.0
2020-03-07       EC        0.0
2020-03-08       EC        0.0
2020-03-09       EC        0.0
2020-03-11       EC        0.0
...             ...        ...
2020-04-28  UNKNOWN        0.0
2020-04-29  UNKNOWN        0.0
2020-04-30  UNKNOWN        0.0
2020-05-01  UNKNOWN        0.0
2020-05-02  UNKNOWN        0.0

[550 rows x 2 columns]

In [ ]:
province_data['date'] = pd.to_datetime(province_data['date'], format='%d-%m-%Y')